:host {
  display: inline-block;
  width: 100%;
}

.user {
  height: 280px;
  overflow: hidden;
  position: relative;
  background-color: #2E353C;
  text-align: center;
  color:white;
  font-size: 1.2rem;
  font-weight: 200;
  transition: background 1000ms ease-out;
}

.user dl,
.user dd {
  margin: 0;
  padding: 0px 6px;
}

.user dt {
  display: none;
}

.user-data {
  background-size: 25px;
  background: #666;  
  height: 60px;
  border-bottom: 4px groove white;
}
polyfill-next-selector { content: '.user-data img'; }
.user-data ::content img {
  border-radius: 100%;
  border: 4px solid white;
  height: 120px;
  width: 120px;
  margin: 0px auto 20px;
  background-color: #fff;
  display: block;
}

user-name{
  margin: 5px 0;
}

user-account {
  margin: 5px 0;
  color: #999;
}

user-name {
  font-size: 24px;
}
user-account {
  font-size: 16px;
  color: #999;
  margin: 5px 0;
}

.user-stats {
  border-top: 1px groove #999;
  position: relative;
  top: 150px;
  padding: 10px;
}

.numpost,
.following,
.followers {
  display: inline-block;
  font-size: 22px;
  color: #999;
  cursor: pointer;
}

.followers:after,
.following:after,
.numpost:after {
  content: attr(data-stats);
  display: block;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 1.7em;
  font-variant: small-caps;
}

.spinner {
  background: url('../lib/webcomponent/spinner.gif') no-repeat center center;
}

a {
  text-decoration: none;
}