#core_card {
  position: absolute;
  width: 100%;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  background-color: rgb(60, 60, 60);
}
#core_scroll_header_panel {
  width: 380px;
  height: 720px;
  left: 0px;
  top: 0px;
  position: absolute;
}
#core_toolbar {
  color: rgb(241, 241, 241);
  fill: rgb(241, 241, 241);
  background-color: rgb(66, 133, 244);
}
#section {
  height: 5000px;
  background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}
#core_field {
  left: 0px;
  position: absolute;
  top: 150px;
  width: 85%;
}
#core_input {
  padding: 8px;
  display: block;
  background-color: rgb(255, 255, 255);
}
#core_header_panel {
  width: 100%;
  height: 100%;
}
#core_toolbar1 {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 125, 201);
}
#core_animated_pages {
  width: 420px;
  height: 582px;
  overflow: hidden;
  left: 400px;
  top: 20px;
  position: absolute;
  margin: 10px 15px;
  background-color: rgb(238, 238, 238);
}
#core_tooltip {
  left: 185px;
  top: 400px;
  position: absolute;
}
#paper_toast {
  left: 1210px;
  top: 680px;
}
#paper_tab {
  width: 120px;
  height: 40px;
  left: 1240px;
  top: 710px;
}
#paper_tabs {
  width: 100%;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;
  left: 0px;
  position: relative;
  top: 0px;
  background-color: rgb(0, 188, 212);
}
#core_card1 {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  left: 0px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}