nav{
    color: white;
    margin: 0px 0px auto 0px;
    padding: 5px;
    font-size: 20px;
}
core-menu > core-item {
    transition: all 300ms ease-in-out;
    padding: 15px 0px;
}
paper-progress{
    width: 100%;
    display: block;
    padding: 0px;
    height: 6px;
}
paper-progress::shadow #activeProgress {
  background-color: #0F9DDF;
}
.core-selected {
    background: #777;
    margin: auto -21px;
    padding: 15px;
}
#pages{
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
}
.dropdown {
    padding: 12px;
}
#paper_icon_button{
    top: 40px;
    color:#FFF;
    padding: 10px
}
.right{
  position: absolute;
  left:95%;
}