    core-animated-pages {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow-x: hidden;
    }

    body /deep/ core-toolbar {
    background-color: #03a9f4;
    color: #fff;
    }

    core-animated-pages > * {
    border-radius: 5px;
    font-size: 50px;
    background-color: white;
    }

    #core_card {
    width: 270px;
    height: auto;
    }
    #core_icon {
    height: 64px;
    width: 64px;
    }
    #paper_icon_button {
    margin: auto 0px 0px;
    }
    
    @media all and (max-width: 1024px){
        core-animated-pages {
          width: 100%;
          height: 100%;
          overflow-x: hidden;
        }
    }
